.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.coinsAndBoardFlex
{
  display: flex;
  flex-direction: column;
}

.chessBoardStyle
{
  border-width: 10px;
  border: black solid;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
} 

.rowStyle
{
  display: flex;
  flex-direction: row;
} 
.creamBoxStyle
{
  height: 70px;
  width: 70px;
  background-color:#f7fbc2;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}
.greenBoxStyle
{
  height: 70px;
  width: 70px;
  background-color:#1b500f;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.coinsStyleBlack
{
  font-size: 40px;
  cursor: pointer;
}

.coinsStyleWhite
{
  color: gray;
  font-size: 40px;
  cursor: pointer;
}
.moveStyle
{
  height: 10px;
  width: 10px;
  border: black solid;
  background-color: greenyellow;
  border-radius: 10px;
  border-width: 2px;
}
.whiteCoinShadow
{
  color: gray;
  font-size: 40px;
  cursor: pointer;
  text-shadow: 5px 5px 8px  greenyellow;
}
.blackCoinShadow
{
  font-size: 40px;
  cursor: pointer;
  text-shadow: 5px 5px 8px greenyellow;
}

.coinsDisplayDiv
{
  width: 530px;
  border-width: 3px;
  border : black solid;
  background-color: #da9644;
}

.coinsFlex 
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .coinsDisplayFlex
{
  display: flex;
  flex-direction: row;
  justify-content: center;
} */


@media screen and (max-width : 620px)
{
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
    .coinsAndBoardFlex
  {
    display: flex;
    flex-direction: column;
  }
  .chessBoardStyle
  {
    border-width: 10px;
    border-radius: 10px;
    border : black solid;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
  } 
  
  .rowStyle
  {
    display: flex;
    flex-direction: row;
  } 
  .creamBoxStyle
  {
    height: 40px;
    width: 40px;
    background-color:#f7fbc2;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  .greenBoxStyle
  {
    height: 40px;
    width: 40px;
    background-color:#1b500f;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  
  .coinsStyleBlack
  {
    font-size: 25px;
    cursor: pointer;
  }
  
  .coinsStyleWhite
  {
    color: gray;
    font-size: 25px;
    cursor: pointer;
  }
  .moveStyle
{
  height: 10px;
  width: 10px;
  border: black solid;
  background-color: greenyellow;
  border-width: 1px;
}
.whiteCoinShadow
{
  color: gray;
  font-size: 25px;
  cursor: pointer;
  text-shadow: 5px 5px 5px 5px greenyellow;
}
.blackCoinShadow
{
  font-size: 25px;
  cursor: pointer;
  text-shadow: 5px 5px 5px 5px greenyellow;
}
.coinsDisplayDiv
{
  width: 300px;
  border-width: 3px;
  border : black solid;
  background-color: #da9644;
}
}