.App {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vh;
  height: 100vh;
}
.chessBoardStyle
{
  border-width: 10px;
  border: black solid;

} 

.rowStyle
{
  display: flex;
  flex-direction: row;
} 
.creamBoxStyle
{
  height: 70px;
  width: 70px;
  background-color:#f7fbc2;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}
.greenBoxStyle
{
  height: 70px;
  width: 70px;
  background-color:#1b500f;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.coinsStyleBlack
{
  font-size: 40px;
  cursor: pointer;
}

.coinsStyleWhite
{
  color: gray;
  font-size: 40px;
  cursor: pointer;
}
.moveStyle
{
  height: 10px;
  width: 10px;
  border: black solid;
  background-color: brown;
  border-radius: 10px;
  border-width: 2px;
}
.whiteCoinShadow
{
  color: gray;
  font-size: 40px;
  cursor: pointer;
  text-shadow: 5px 5px 8px  brown;
}
.blackCoinShadow
{
  font-size: 40px;
  cursor: pointer;
  text-shadow: 5px 5px 8px brown;
}

@media screen and (max-width : 620px)
{
  .App {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%; 
    margin-top: 20px;
   
  }
  
  .chessBoardStyle
  {
    border-width: 10px;
    border-radius: 10px;
    border : black solid;
  
  } 
  
  .rowStyle
  {
    display: flex;
    flex-direction: row;
  } 
  .creamBoxStyle
  {
    height: 40px;
    width: 40px;
    background-color:#f7fbc2;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  .greenBoxStyle
  {
    height: 40px;
    width: 40px;
    background-color:#1b500f;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  
  .coinsStyleBlack
  {
    font-size: 25px;
    cursor: pointer;
  }
  
  .coinsStyleWhite
  {
    color: gray;
    font-size: 25px;
    cursor: pointer;
  }
  .moveStyle
{
  height: 10px;
  width: 10px;
  border: black solid;
  background-color: brown;
  border-width: 1px;
}
.whiteCoinShadow
{
  color: gray;
  font-size: 40px;
  cursor: pointer;
  text-shadow: 5px 5px 5px 5px brown;
}
.blackCoinShadow
{
  font-size: 40px;
  cursor: pointer;
  text-shadow: 5px 5px 5px 5px brown;
}
}